<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        <style type="css">
            body,h1,h2,h3,h4,h5,h6 {
                font-family: "Karma", sans-serif
            }

            .w3-bar-block .w3-bar-item {
                padding:20px
            }
        </style>
    </head>
    <body>
        <!-- Sidebar (hidden by default) -->
        <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:15%;min-width:300px" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
            {% block navlinks %}
            {% endblock %}
        </nav>

        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-white w3-xlarge" style="margin:auto">
                <div class="w3-button w3-padding-16 w3-left" style="margin-left: 16px !important" onclick="w3_open()">☰</div>
                <div class="w3-center w3-padding-16">{% block header %}{% endblock %}</div>
            </div>
        </div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
            {% block content %}
            {% endblock %}
        </div>

        <script language="JavaScript">
            // Script to open and close sidebar
            function w3_open() {
              document.getElementById("mySidebar").style.display = "block";
            }

            function w3_close() {
              document.getElementById("mySidebar").style.display = "none";
            }
        </script>
    </body>
</html>