<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LED Strip color picker</title>
    <style>
        .color-grid {
            display: inline-grid;
            grid-template-columns: auto auto auto;
        }
    </style>
    <script language="JavaScript">
        function sendRequest(r, g, b) {
            console.log(r, g, b);
        }
    </script>
</head>
<body>
<center>
    <p>Gimme verification: </p>
    <input type="password"/>
    <br>
    <div class="color-grid">
        {% for color in colorArray%}
        <div class="grid-item" onclick="sendRequest{{color}}" style="background-color: rgb{{color}}; border: 1px solid rgba(0, 0, 0, 0.8); cursor: pointer;">{{color}}</div>
        {% endfor%}
    </div>
</center>
</body>
</html>